#card-3 {
  width: 10rem;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.sand {
  width: 4rem;
}

#btn-burger .btn-close {
  filter: invert(100);
}

.card-center {
  line-height: 5;
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



#section-form {
  background-color: rgb(238, 236, 236);
}